@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Rubik', 'Hanken Grotesk' , sans-serif;
}
.dark {
  padding-top: 5px;
}

.text-white {
  color: white
}

.text-black {
  color: black
}

.text-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px !important;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-item-center {
  align-items: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.w100 {
  width: 100%;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.color-red {
  color: red !important;
}

.ml-10 {
  margin-left: 10px;
}

.mx-10 {
  margin: auto 10px;
}

.my-10 {
  margin: 10px auto;
}

.mr-10 {
  margin-right: 10px;
}

.m-auto {
  margin: auto;
}

.h-100vh {
  height: 100vh;
}