.dark{
  padding-top: 5px;
  }
  .text-white{
    color : white
  }
  .text-black{
    color : black
  }
  .text-center{
    text-align: center;
  }
  .mt-10{
    margin-top: 10px !important;
  }
  .d-flex{
    display: flex;
  }
  .justify-center{
    justify-content: center;
  }
  .justify-around{
    justify-content: space-around;
  }
  .justify-between{
    justify-content: space-between;
  }
  .align-item-center{
    align-items: center;
  }
  
  .w100{
    width: 100%;
  }
  .d-block{
    display: block;
  }
  .d-none{
    display: none;
  }
  .color-red{
    color: red;
  }
  .ml-10{
    margin-left: 10px;
  }
  .mx-10{
    margin: auto 10px;
  }
  .my-10{
    margin: 10px auto;
  }
  .mr-10{
  margin-right: 10px;
  }
  .m-auto{
    margin: auto;
  }
  .h-100vh{
    height: 100vh;
  }