.light-grey-bg{
    background-color: #f9f9f9;
    height: 88vh;
}
.px1240-min-width{
    max-width: 1150px;
    display: block;
    margin: auto;
    margin-top: 30px;
}
.px1240-min-width input {
    width : 600px;
    height : 40px;
    border: 1px solid #D7DFE9;
    outline: none;
    padding-left: 50px;
    border-radius: 4px;
}
.px1240-min-width .d-flex{
    position: relative;
}

.px1240-min-width .d-flex i{
    position: absolute;
    top: 14px;
    left: 20px;
}